$width: 400px;

.AddStudent {
  margin: 0 auto 30px auto;
  width: 400px;

  input {
    width: calc($width - 8px);
  }

  input[type=submit] {
    width: $width;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

}

